 <div class="row" id="edit-card">
  <div class="col s12">
    <div class="card-panel blue-grey lighten-5">
      <div class="row">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , :multipart => true}) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="input-field col s8 offset-s2">
            <div class="profile">
              <div class="pic">
              <div class="img" id="img"><%= image_tag current_user.profilepic.url || ProfilepicUploader.default_url %></div>
                <i class="icon-plus"></i>
                <i class="icon-ok"></i>
              </div>
              <h4><%= current_user.username %></h4>
            </div>
          </div>  
        </div>
        <%= f.file_field :profilepic ,id: "uploadimagefield"%>

        <div class="row">
          <div class="input-field col s12">
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, placeholder: "New Username" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <div class="field">
              <%= f.label :full_name %><br />
              <%= f.text_field :full_name, autofocus: true, placeholder: "New Account Name" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, placeholder: "New Email" %>
            </div>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="row">
          <div class="input-field col s12">
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", placeholder: "New Password" %>
              <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password" %>
            </div>
          </div>
        </div>
        <h4>
          Confirm that it's you
        </h4>
        <div class="row">
          <div class="input-field col s12">
            <div class="field">
              <%= f.label :current_password %> <br />
              <%= f.password_field :current_password, autocomplete: "off", password: "Current Password"%>
              <i>(we need your current password to confirm your changes)</i>
            </div>
          </div>
        </div>
        <div class="waves-effect grey darken-2 btn">

          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        </div>
        <% end %>
      </div>


      <h5>Cancel my account</h5>
      <div class="waves-effect grey darken-2 btn">

        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>






<style type="text/css">
  .profile{
    display: block;
    width: 100%;
    height: 235px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
  }

  .pic{
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background: rgba(101,132,124,.5);
    border: 6px solid #66847C;
    margin: auto;
    z-index: 10;
    overflow: hidden;
    text-align: right;
    cursor: pointer;
  }

  .img{
    background: #FDF6E3;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    z-index: 10;
  }

  img{
    width: 100%;  
    height: 100%;
  }

  h4{
    margin: 30px 0 0 0;
    font-size: 18px;
    color: #66847C;
    text-shadow: 0 2px 5px rgba(0,0,0,.15);
  }


</style>


<script type="text/javascript">
 $( "#uploadimagefield").hide();

 $( "#img" ).click(function() {
  console.log("hello");
  $( "#uploadimagefield").click(); 
  return false;
});
</script>


<!-- <%= link_to "Back", :back %> -->
