<div id="index">
	<% @posts.each do |post| %>
	<% @commentForThisPost = @comments.where(post_id: post.id) %>
	<% if @follows.where(followee: post.user_id).first || post.user_id == current_user.id %>
	<div class="card" >
		<div class="card-image waves-effect waves-block waves-light">
			<div class="activator">
				<%= image_tag(post.image_url)  %>
			</div>
		</div>
		<div class="card-content">
			<div style="display: flex;">
				<div id="likes_<%= post.id %>">
					<% if @likes.where(user_id: current_user.id, post_id: post.id)[0] %>
					<%= link_to likes_toggle_path(:post => post, isLiked: "true"), remote: true do %>
					<i class="small material-icons">favorite</i>    
					<% end %>
					<% else %>
					<%= link_to likes_toggle_path(:post => post, isLiked: "false"), remote: true do %>
					<i class=" small material-icons">favorite_border</i>    
					<% end %>
					<% end %>
				</div>
				<div class="card-title activator", style="margin-left: 5%;"><i class="material-icons right">chat_bubble_outline</i></div>
			</div>
			<div style="display: flex;">
			<div id="likes-count_<%= post.id %>">
				<%= Like.where(post_id: post.id).count %> Likes
			</div>
			<div id="comments-count_<%= post.id %>", style="margin-left: 5%;">
				<%= @commentForThisPost.count %> Comments
			</div>
			</div>
			<br>
			<span class="card-title activator grey-text text-darken-4">	
				<%= image_tag post.user.profilepic.url || ProfilepicUploader.default_url, id: 'small-pic' %>
				<%= post.user.username %>
			</span>
			<h6><%= post.caption %></h6>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
			<div id="comments_<%= post.id %>">
				<% @commentForThisPost.each do |comment| %>
				<%= render 'comments/comment', comment: comment, post: post %>
				<% end %>
			</div>
			<div class="comment-form">
				<%= render :partial => "comments/form", :locals => {:post => post, :comment => Comment.new} %>
			</div>
		</div>
	</div>
	<br>
	<% end %>
	<% end %>
</div>


<script> 
  data = <%= raw @users.pluck(:username).compact.to_json %>;
  $('textarea').atwho({at:"@", 'data':data}); 
</script>