<main id="profile-main">
	<div id="profile-head">
		<div id="profile-picture">
			<%= image_tag @userdetail.profilepic.url || ProfilepicUploader.default_url %>
		</div>
		<div id="profile-details">
			<span>
				<%= @userdetail.username %>
			</span>&nbsp&nbsp&nbsp&nbsp
			<% if(@userdetail.id == current_user.id) %>
			<%= link_to "Edit Profile", edit_user_registration_path, method: :GET, class: "waves-effect waves-light grey darken-2 btn" %>
			&nbsp
			<!-- Modal Trigger -->
			<a class="waves-effect waves-light grey darken-2 btn modal-trigger" href="#modal1"><i class="material-icons">settings</i></a>

			<!-- Modal Structure -->
			<div id="modal1" class="modal"  style="width: 30%;">
				<div class="modal-content">
					<ul class="collection">
						<li class="collection-item">Settings</li>
						<li class="collection-item"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %>
						</li>
						
					</ul>
				</div>
				<!-- <div class="modal-footer">
					<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
				</div> -->
			</div>
			<% elsif %>

			<%= link_to 'Follow',url_for(controller: 'follow', action: 'toggle', profile: @userdetail.id),class: "waves-effect waves-light btn", id: "follow-button", method: :post,remote: true %><br>


			<% end %>

			<br>
			<div id="follower-count">
				<%= Follow.where(followee: @userdetail.id).count %> Followers
			</div>

			<div>
								<%= Follow.where(follower: @userdetail.id).count %> Following

			</div>


		</div>
		
	</div>
	<div id="profile-body">
		
	</div>
</main>
<div class="post">
	<% @posts.each do |post| %>

	<div class="card" >
		<div class="card-image waves-effect waves-block waves-light">
			<div class="activator">
				<%= image_tag(post.image_url)  %>
			</div>
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4"><%= @userdetail.username %><i class="material-icons right">more_vert</i></span>
			<h6><%= post.caption %></h6>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			<p>Here is some more information about this product that is only revealed once clicked on.</p>
		</div>
	</div>
	<br>
	<% end %>
</div>