<main id="profile-main">
	<div id="profile-head">
		<div id="profile-picture">
			<%= image_tag @userdetail.profilepic.url || ProfilepicUploader.default_url %>
		</div>
		<div id="profile-details">
			<span>
				<%= @userdetail.username %>
			</span>&nbsp&nbsp&nbsp&nbsp
			<% if(@userdetail.id == current_user.id) %>
			<%= link_to "Edit Profile", edit_user_registration_path, method: :GET, class: "waves-effect waves-light btn" %>
			<a class="waves-effect waves-light btn modal-trigger" href="#modal4">Upload</a>
			<div id="modal4" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4>Upload something</h4>
					<%= render :partial => "posts/form", :locals => {:post => Post.new} %>
				</div>
			</div>
			<a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons">settings</i></a>
			<div id="modal1" class="modal"  style="width: 30%;">
				<div class="modal-content">
					<ul class="collection">
						<li class="collection-item">Settings</li>
						<li class="collection-item"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %>
						</li>
						
					</ul>
				</div>
			</div>
			<% elsif %>
			<% if Follow.where(follower: current_user.id, followee: @userdetail.id)[0] %>
			<%= link_to 'Following',url_for(controller: 'follow', action: 'toggle', profile: @userdetail.id),class: "waves-effect waves-light btn", id: "follow-button", method: :post,remote: true %><b
			<% else %>
			<%= link_to 'Follow',url_for(controller: 'follow', action: 'toggle', profile: @userdetail.id),class: "waves-effect waves-light btn", id: "follow-button", method: :post,remote: true %><br>
			<% end %>
			<% end %>
			<br>
			<div id="follow-info">
				<div id="follower-count">
					<a class="modal-trigger" href="#modal2"><h5><%= Follow.where(followee: @userdetail.id).count %> Followers</h5>
					</a>
					<div id="modal2" class="modal modal-fixed-footer">
						<div class="modal-content">
							<h4>Followers</h4>
							<% @followers.each do |followers| %>
							<div class="card" style="padding: 12px;">
								<h5><%= @users.where(id: followers.follower).first.username %></h5>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div>
					<a class="modal-trigger" href="#modal3"><h5><%= Follow.where(follower: @userdetail.id).count %> Following</h5>
					</a>
					<div id="modal3" class="modal modal-fixed-footer">
						<div class="modal-content">
							<h4>Following</h4>
							<% @followees.each do |followees| %>
							<div class="card" style="padding: 12px;">
								<h5><%= @users.where(id: followees.followee).first.username %></h5>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="profile-body">
	</div>
</main>
<div class="post">
	<% @posts.each do |post| %>
	<% @commentForThisPost = @comments.where(post_id: post.id) %>
	<div class="card" >
		<div class="card-image waves-effect waves-block waves-light">
			<div class="activator">
				<%= image_tag(post.image_url)  %>
			</div>
		</div>
		<div class="card-content">
			<div style="display: flex;">
				<div id="likes_<%= post.id %>">
					<% if @likes.where(user_id: current_user.id, post_id: post.id)[0] %>
					<%= link_to likes_toggle_path(:post => post, isLiked: "true"), remote: true do %>
					<i class="small material-icons">favorite</i>    
					<% end %>
					<% else %>
					<%= link_to likes_toggle_path(:post => post, isLiked: "false"), remote: true do %>
					<i class=" small material-icons">favorite_border</i>    
					<% end %>
					<% end %>
				</div>
				<div class="card-title activator", style="margin-left: 5%;"><i class="material-icons right">chat_bubble_outline</i></div>
			</div>
			<div style="display: flex;">
				<div id="likes-count_<%= post.id %>">
					<%= Like.where(post_id: post.id).count %> Likes
				</div>
				<div id="comments-count_<%= post.id %>", style="margin-left: 5%;">
					<%= @commentForThisPost.count %> Comments
				</div>
			</div>
			<br>
			<span class="card-title activator grey-text text-darken-4">	
				<%= image_tag post.user.profilepic.url || ProfilepicUploader.default_url, id: 'small-pic' %>
				<%= post.user.username %>
			</span>
			<h6><%= post.caption %></h6>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
			<div id="comments">
				<% @commentForThisPost.each do |comment| %>
				<%= render 'comments/comment', comment: comment, post: post %>
				<% end %>
			</div>
			<div id="comment-form">
				<%= render :partial => "comments/form", :locals => {:post => post, :comment => Comment.new} %>
			</div>		</div>
		</div>
		<br>
		<% end %>
	</div>