<main id="profile-main">
	<div id="profile-head">
		<div id="profile-picture">
			<%= image_tag @userdetail.profilepic.url || ProfilepicUploader.default_url %>
		</div>
		<div id="profile-details">
			<span>
				<%= @userdetail.username %>
			</span>&nbsp&nbsp&nbsp&nbsp
			<% if(@userdetail.id == current_user.id) %>
			<%= link_to "Edit Profile", edit_user_registration_path, method: :GET, class: "waves-effect waves-light btn" %>
			&nbsp
			<!-- Modal Trigger -->
			<a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons">settings</i></a>

			<!-- Modal Structure -->
			<div id="modal1" class="modal"  style="width: 30%;">
				<div class="modal-content">
					<ul class="collection">
						<li class="collection-item">Settings</li>
						<li class="collection-item"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %>
						</li>
						
					</ul>
				</div>
				<!-- <div class="modal-footer">
					<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
				</div> -->
			</div>
			<% elsif %>
			<% if Follow.where(follower: current_user.id, followee: @userdetail.id)[0] %>
			<%= link_to 'Following',url_for(controller: 'follow', action: 'toggle', profile: @userdetail.id),class: "waves-effect waves-light btn", id: "follow-button", method: :post,remote: true %><b
			<% else %>
			<%= link_to 'Follow',url_for(controller: 'follow', action: 'toggle', profile: @userdetail.id),class: "waves-effect waves-light btn", id: "follow-button", method: :post,remote: true %><br>
			<% end %>

			<% end %>

			<br>
			<div id="follow-info">
				<div id="follower-count">
					<h5><%= Follow.where(followee: @userdetail.id).count %> Followers</h5>


  <!-- Modal Trigger -->
  <a class="modal-trigger" href="#modal2"><h5><%= Follow.where(followee: @userdetail.id).count %> Followers</h5>
</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>






				</div>

				<div>
					<h5><%= Follow.where(follower: @userdetail.id).count %> Following</h5>

				</div>
			</div>

		</div>
		
	</div>
	<div id="profile-body">
		
	</div>
</main>
<div class="post">
	<% @posts.each do |post| %>

	<div class="card" >
		<div class="card-image waves-effect waves-block waves-light">
			<div class="activator">
				<%= image_tag(post.image_url)  %>
			</div>
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4">	
				<%= image_tag post.user.profilepic.url || ProfilepicUploader.default_url, id: 'small-pic' %>
				<%= @userdetail.username %><i class="material-icons right">more_vert</i>
			</span>
				<h6><%= post.caption %></h6>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				<p>Here is some more information about this product that is only revealed once clicked on.</p>
			</div>
		</div>
		<br>
		<% end %>
	</div>