<%= form_for(post, html: {:multipart => true}) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="file-field input-field">
    <div class="btn">
      Click to Upload
      <%= f.file_field :image %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <div class="field">
    <%= f.text_field :caption, placeholder: "Describe the moment" %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="waves-effect waves-light btn actions">
    <%= f.submit %>
  </div>
<% end %>











