<!DOCTYPE html>
<html>
<head>
	<title>Instagram</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>
	<% if notice %>
	<script type="text/javascript">
		Materialize.toast('<%= notice %>', 4000)
	</script>
	<% end %>
	<% if alert %>
	<script type="text/javascript">
		Materialize.toast('<%= alert %>', 4000)
	</script>
	<% end %>

	<% if user_signed_in? %>
	<header id="main-header">
		<div class="component">
			<a href="/"><img src="/assets/1.png"></a>
		</div>
		<div class="component">
			<%=form_tag '/user/profile' do %>
			<div id="form">
				<div>
					<%= autocomplete_field_tag 'username', '', autocomplete_user_username_user_index_path, :size => 75 ,id:"searchTerm"%> 
				</div>
				<div>
					<%= button_tag(type: "submit", class: "btn btn-default ") do %>
					<i class="material-icons">search</i>
					<% end %>
				</div>
			</div>
			<%end%>
		</div>
		<div class="component">
			<ul>
				<li><i class="material-icons">explore</i></li>
				<li><i class="material-icons">favorite_border</i></li>
				<!-- <li><a href="/user/profile"><i class="material-icons">perm_identity</i></a></li> -->
				<div>
					<%= link_to user_profile_path(:username => current_user.username) do %>
					<i class="material-icons">perm_identity</i>    
					<% end %>
				</div>

				


			</ul>
		</div>
	</header>
	<% end %>

	<%= yield %>

</body>

</html>
